<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - WearableD WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SimpleOAuth2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WearableD WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WearableD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>290CC1241AC21917003BBA46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>296693901AC7A6A400A0CDC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2966939A1AC7A6A400A0CDC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2991174F1A608BBE00972E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>299117641A608BBE00972E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
